# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fiap
DB_USER=postgres
DB_PASSWORD=root

# Configurações de Segurança
JWT_SECRET=f6b0947563fca52b04d9aa8c5e31c542e87bb7f54fd74164ebdc24615e8eee73dc69d5f4aca1a8d147899df9f6b95ae07b4b78018c932140c0db105bac00d124
BCRYPT_ROUNDS=12

# Configurações de Log
LOG_LEVEL=info 